body {
  color: $body-text;
  background: $body-background;
  font-size: 14px;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang-SC-Regular, Avenir, Helvetica, Arial, sans-serif, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei;
}

html, body {
  height: 100%;
}
* {
    outline: none !important;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html, body, p,
  em, img, strong, sub, sup, var, b, i, dl, dt, dd, label, table, tbody,
  tfoot, thead, th, td, footer, header, nav, section {
    padding: 0;
    margin: 0;
  }

@font-face {
  font-family: 'PingFang-SC-Regular';
  src: url("../fonts/PingFangSC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang-SC-Bold';
  src: url("../fonts/PingFangSC-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang-SC-Medium';
  src: url("../fonts/PingFangSC-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
.font-PF-Regular {
  font-family: 'PingFang-SC-Regular', serif;
}
.font-PF-bold {
  font-family: 'PingFang-SC-Bold', serif;
}
.font-PF-Medium {
  font-family: 'PingFang-SC-Medium', serif;
}

html {
  box-sizing: border-box;
}

table {
  border-collapse: collapse; // Prevent double borders
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}
a,i{
  font-size: inherit;
  color: inherit;
}

img {
  vertical-align: middle;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

i, b, em {
  font-style: normal;
}

// 去掉webkit表单自动填写时的黄色背景
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0, 0.3);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
  &:hover {
    background-color: rgba(0,0,0, 0.4);
  }
}

::placeholder {
  user-select: none !important;
}

// 去掉type=number右边的上下箭头
.no-number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
