@import 'theme';

$body-background: #f6f7fa !default;
$body-text: #191919 !default;

$white: #fff !default;
$white-p1: rgba($white, 0.1) !default;
$white-p8: rgba($white, 0.8) !default;

$black: #000 !default;
$black-p02: rgba($black, 0.02) !default;
$black-p05: rgba($black, 0.05) !default;
$black-p15: rgba($black, 0.15) !default;
$black-p2: rgba($black, 0.2) !default;
$black-p24: rgba($black, 0.24) !default;
$black-p39: rgba($black, 0.39) !default;
$black-p5: rgba($black, 0.5) !default;
$black-p65: rgba($black, 0.65) !default;
$black-p85: rgba($black, 0.85) !default;
$black-primary: #191919 !default;
$black-2: #23304b !default;

$gray-primary: #555555 !default;
$gray-1: #dbdbdb !default;
$gray-2: #4a4a4a !default;
$gray-3: #f5f7fa !default;
$gray-4: #9b9b9b !default;
$gray-5: #d8d8d8 !default;
$gray-6: #979797 !default;
$gray-6-p7: rgba($gray-6, 0.7) !default;
$gray-7: #7b8595 !default;
$gray-7-p1: rgba($gray-7, 0.1) !default;
$gray-8: #323333 !default;
$gray-9: #eff0f1 !default;
$gray-10: #a8a9ab !default;
$gray-11: #333333 !default;
$gray-12: #747986 !default;
$gray-13: #f9f9f9 !default;
$gray-14: #6f7994 !default;
$gray-15: #bbbbbb !default;
$gray-16: #f5f5f5 !default;
$gray-17: #999999 !default;
$gray-18: #666666 !default;
$gray-19: #f0f0f0 !default;
$gray-20: #536485 !default;
$gray-21: #e4e7ed !default;
$gray-22: #e2e6ed !default;
$gray-23: #8492a6 !default;
$gray-24: #8a8a8a !default;
$gray-25: #b3b9be !default;
$gray-26: #d8dce6 !default;
$gray-27: #f5f6ff !default;
$gray-28:#606266 !default;

$pink-primary: #f3e1f6 !default;

$blue-primary: $--color-primary !default;
$blue-1: #0168ff !default;
$blue-1-p24: rgba($blue-1, 0.24) !default;
$blue-1-p28: rgba($blue-1, 0.28) !default;
$blue-2: #e6ecff !default;
$blue-3: #f4f8ff !default;
$blue-4: #ebf0ff !default;
$blue-5: #0747fd !default;
$blue-5-p05: rgba($blue-5, 0.05) !default;
$blue-5-p06: rgba($blue-5, 0.06) !default;
$blue-5-p09: rgba($blue-5, 0.09) !default;
$blue-5-p1: rgba($blue-5, 0.1) !default;
$blue-5-p14: rgba($blue-5, 0.14) !default;
$blue-5-p18: rgba($blue-5, 0.18) !default;
$blue-5-p19: rgba($blue-5, 0.19) !default;
$blue-5-p2: rgba($blue-5, 0.2) !default;
$blue-5-p25: rgba($blue-5, 0.25) !default;
$blue-5-p3: rgba($blue-5, 0.3) !default;
$blue-5-p42: rgba($blue-5, 0.42) !default;
$blue-5-p44: rgba($blue-5, 0.44) !default;
$blue-5-p5: rgba($blue-5, 0.5) !default;
$blue-5-p69: rgba($blue-5, 0.69) !default;
$blue-6: #f6faff !default;
$blue-7: #4a80ff !default;
$blue-7-p1: rgba($blue-7, 0.1) !default;
$blue-7-p2: rgba($blue-7, 0.2) !default;
$blue-7-p25: rgba($blue-7, 0.25) !default;
$blue-8: #9ab8ff !default;
$blue-9: #1890ff !default;
$blue-10: #3894ff !default;
$blue-11: #117dff !default;
$blue-12: #e9edf5 !default;
$blue-13: #dae2f0 !default;
$blue-14: #eaf3ff !default;
$blue-15: #396cfd !default;
$blue-16: #e6edff !default;
$blue-17: #0c4bfd !default;
$blue-18: #e5ebfe !default;
$blue-19: #3cc3e0 !default;
$blue-19-p59: rgba($blue-19, 0.59) !default;
$blue-20: #2f43d7 !default;
$blue-21: #3951fc !default;
$blue-22: #f0f4ff !default;
$blue-23: #ecf1ff !default;
$blue-24: #00c0ff !default;
$blue-25: #59DCEE !default;
$blue-26: #2DB6D9 !default;
$blue-27: #236cd0 !default;
$blue-27-p11: rgba($blue-27, 0.11) !default;
$__blue-24: #aab4c5 !default;
$__blue-25: #c0ccda !default;
$__blue-26: #0747fd0f !default;


$green-1: #84f853 !default;
$green-2: #217346 !default;
$green-3: #5acc9b !default;
$green-4: #1dc17e !default;
$green-5: #00cfc4 !default;
$green-6: #6ac6f7 !default;
$green-7: #7ecb2f !default;
$green-7-p1: rgba($green-7, 0.1) !default;
$green-7-p5: rgba($green-7, 0.5) !default;
$green-7-p7: rgba($green-7, 0.7) !default;
$green-8: #effcff !default;
$green-9: #f8fff1 !default;
$green-10: #23a565 !default;
$green-10-p22: rgba($green-10, 0.22) !default;

$yellow-1: #ff9c00 !default;
$yellow-1-p2: rgba($yellow-1, 0.2) !default;
$yellow-1-p7: rgba($yellow-1, 0.7) !default;
$yellow-2: #f5a623 !default;
$yellow-2-p51: rgba($yellow-2, 0.51) !default;
$yellow-3: #ffcf2a !default;
$yellow-4: #fdedd2 !default;
$yellow-5: #FFA000 !default;
$yellow-6: #F9A528  !default;
$yellow-6-p14: rgba($yellow-6, 0.14) !default;

$orange-1: #ef5e31 !default;

$red-1: #f0455c !default;
$red-1-p07: rgba($red-1, 0.07) !default;
$red-1-p2: rgba($red-1, 0.2) !default;
$red-1-p7: rgba($red-1, 0.7) !default;
$red-2: #d0021b !default;
$red-3: #fdecee !default;
$red-5: #e70000 !default;
$red-6:#e70100 !default;
$red-5-p1: rgba($red-5, 0.1) !default;

$warning: $--color-warning !default;
$success: $--color-success !default;
$danger: $--color-danger !default;

// 设置文字颜色列表
$text-colors: (
  'gray-primary': $gray-primary,
  'blue-primary': $blue-primary,
  'black-primary': $black-primary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'white': $white,
  'gray-2': $gray-2,
  'gray-4': $gray-4,
  'gray-28':$gray-28,
  'black': $black,
  'blue-5': $blue-5,
  'blue-7': $blue-7,
  'red-1': $red-1,
  'red-2': $red-2,
  'yellow-1': $yellow-1,
  'yellow-2': $yellow-2,
  'orange-1': $orange-1,
  'gray-7': $gray-7,
  'gray-8': $gray-8,
  'gray-11': $gray-11,
  'gray-14': $gray-14,
  'gray-17': $gray-17,
  'gray-18': $gray-18,
  'green-3': $green-3,
  'green-4': $green-4,
  'green-6': $green-6,
  'gray-20': $gray-20,
  'gray-23': $gray-23,
  'gray-25': $gray-25
);
// 设置背景色颜色列表
$bg-colors: (
  'pink-primary': $pink-primary,
  'white': $white,
  'body': $body-background,
  'blue-4': $blue-4,
  'black-primary': $black-primary
);

$font-weights: (
  extra-light: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  heavy: 900
);

// Sizing
$per-size-10: 10px;
$per-size-5: 5px;
$per-size-1: 1px;
// Spacing
$spacer: 1px;
