.message-audit {
  .el-message-box__title {
    font-size: 16px;
    font-weight: bold;
  }
  .el-message-box__message {
    padding: 0 30px;
  }
  .el-button--small {
    padding: 10px 20px;
  }
  .el-textarea {
    padding: 0px 30px;
    .el-textarea__inner {
      resize: none;
      height: 80px;
    }
  }
  .el-message-box__errormsg {
    margin-left: 30px;
  }
}