.knowledge-manage-container {
.el-form-item.is-error {
  margin-bottom: 22px !important;
}
  .form-mb-0 {
    margin-bottom: 0
  }
  .form-mb-12 {
    margin-bottom: 12px
  }
}
// 去除密码框自动填充
.no-autofill-pwd {
  .el-input__inner {
    -webkit-text-security: disc !important;
  }
}
.el-popconfirm__main {
  margin-bottom: 10px;
}

// 修改message弹窗位置
.el-message {
  top: 65px !important;
}