.select-tree {
  .el-select-dropdown__wrap {
    min-height: 300px;
    .el-select-dropdown__list {
      height: 100%;
      .el-select-dropdown__item {
        padding: 0 10px;
        height: 100%;
      }
      .el-select-dropdown__item.hover {
        background-color: unset;
      }
    }
  }
}
