.cursor-pointer {
  cursor: pointer;
}
.cursor-ban {
  cursor: not-allowed;
}
.content-break {
  white-space: pre-line;
}
.pointer-none {
  pointer-events: none;
}

.drop-list {
  background: #fff;
  box-shadow: 0px 4px 10px -2px $black-p65;
  border-radius: 4px;
  border: 1px solid $gray-1;
  min-width: 266px;
  list-style: none;
  padding: 15px 0 0;
  z-index: 2;
  .active {
    background: $blue-5-p09;
  }
  .drop-item {
    height: 32px;
    line-height: 32px;
    padding: 0 17px 0 11px;
    font-size: 14px;
    color: $gray-2;
    cursor: pointer;
    .drop-item-content:hover {
      @extend .active;
    }
  }
}
.el-menu--popup {
  .el-menu-item {
    &:hover {
      background: $blue-5-p09 !important;
      .custom-label {
        color: $blue-primary !important;
      }
    }
  }
}
.sort-area {
  .content {
    max-width: calc(100% - 32px);
    flex: 1;
  }
  .sort-column {
    flex: 0 0 32px;
  }
  .sort-column-show {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 32px;
      left: 16px;
      width: 0px;
      height: 100%;
      border: 1px dashed $blue-5-p3;
    }
  }
  .sort-number {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: $blue-primary;
    text-align: center;
    line-height: 32px;
  }
}
