.position-fixed     { position: fixed !important; }
.position-relative  { position: relative !important; }
.position-absolute  { position: absolute !important; }
.position-static    { position: static !important; }

.z-index-1          { z-index: 1 !important; }
.z-index-100          { z-index: 100 !important; }

$i: 0;
@while $i <= 100 {
  .top-#{$i}    { top: $i * $per-size-5 !important; }
  .right-#{$i}  { right: $i * $per-size-5 !important; }
  .bottom-#{$i} { bottom: $i * $per-size-5 !important; }
  .left-#{$i}   { left: $i * $per-size-5 !important; }
  $i: $i + 1;
}
