// Text size
@for $size from 12 through 48 {
  .text-#{$size} {
    font-size: $size * 1px !important;
  }
}

// colors
@each $color, $value in $text-colors {
  .text-#{$color} {
    color: $value !important;
  }
}

// Text overflow
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-break-all {
  word-break: break-all;
}

@each $type, $value in $font-weights {
  .text-#{$type} {
    font-weight: $value;
  }
}
